.swiper-pagination-bullet {
  background: white;
  opacity: 0.5;
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background: #dc2626; /* Tailwind red-600 */
  opacity: 1;
}